{% block sw_cms_element_manufacturer_sliderpreview %}
    <div class="sw-cms-el-preview-manufacturer-slider">
        <sw-icon name="default-arrow-head-left" color="#000"></sw-icon>
        <div class="sw-cms-el-preview-manufacturer-slider--container">
            <div class="sw-cms-el-preview-manufacturer-slider--item"></div>
            <div class="sw-cms-el-preview-manufacturer-slider--item"></div>
            <div class="sw-cms-el-preview-manufacturer-slider--item"></div>
        </div>
        <sw-icon name="default-arrow-head-right" color="#000"></sw-icon>
    </div>
{% endblock %}